<h3><%= GTEH_("views.activation.step0.title") %></h3>

<%= render :partial => 'step0_main' %>

<%= render :partial => 'step0_advanced' %>

<%= link_to GT_("views.activation.step0.main"), url_for(:action => "step0"), { :class => 'redirector_link' } %>


