<h2><%= @page_title %></h2>

<%= render :partial => 'layouts/menu_pagetop', :locals => {:menu_id => "pagetop_ldap"} %>

<%= render :partial => 'doc' %>

<%= render :partial => 'org' %>

<%= render :partial => 'layouts/standard_form', :locals => {:controller => "groups", :action => "create", :formtitle => GTEH_("views.groups.new.formtitle")} %>

<%= link_to GT_("views.groups.new.link_to.back"), {:action => 'list', :org_id => @profile.org_id}, {:class => "back_link"} %>

