#!/bin/sh

set -e

# Ask the web configuration password.
. /usr/share/debconf/confmodule
db_version 2.0

if ! grep -qc server.password /etc/teambox/tbxsosd/web.conf 2>/dev/null; then
    PWD1="hello"
    PWD2="world"

    while [ "$PWD1" != "$PWD2" ]; do
        db_input critical tbxsos-config/web-passwd || true
        db_input critical tbxsos-config/web-passwd-again || true
        db_go || true

        db_get tbxsos-config/web-passwd
        PWD1=$RET

        db_get tbxsos-config/web-passwd-again
        PWD2=$RET

        if [ "$PWD1" != "$PWD2" ]; then
            db_input critical tbxsos-config/web-passwd-error || true
            db_go || true
        fi
    done
fi
