<h2><%= @page_title %></h2>

<div class="doc"><%= @page_doc %></div>

<%= link_to GTEH_("views.stats.current_week"), { :action => "current_week" } %>
<%= link_to GTEH_("views.stats.last_week"), { :action => "last_week" } %>

