<tr>
  <td class="form_save" colspan="<%= @tablerows %>">
   <div class="form_save"><%= submit_tag save_string %></div>
   <div class="form_reset"><input type="reset" name="reset" value="<%= GTEH_("misc.forms.reset") %>" /></div>
  </td>
</tr>

