
      <div id="menu_lang">
        <div class="menu_item">
          <%= link_to GT_("menu.language.en"), url_for(:clang => 'en') %>
        </div>
        <div class="menu_item">
          <%= link_to GT_("menu.language.fr"), url_for(:clang => 'fr') %>
        </div>
      </div>


