<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
    <title><%= GTEH_("views.misc.title") %></title>
    <%= stylesheet_link_tag "common-style" %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>

    <div style="margin-top: 3em; text-align: center">
      <div class="menu_icon">
        <img src="/imgs/teambox_ico_notrans.png" />
      </div>

      <div style="text-align: center">

        <% if !flash[:error].nil? %>
          <div style="margin-left: 20em; margin-right: 20em;" class="flash" id="error"><%= flash[:error] %></div>
        <% end %>

        <%= @content_for_layout %>
      </div>
    </div>

  </body>
</html>
